Hwk2/Code_and_Data/word.txt
Hwk2/Code_and_Data/tokenized.txt
Hwk2/Code_and_Data/perplexity-3.txt
Hwk2/Code_and_Data/perplexity-2.txt
Hwk2/Code_and_Data/perplexity-1.txt
Hwk2/Code_and_Data/bigram.txt
/Project1/project1/test
/Project1/project1/corpus
